<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="CA" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n"/>
        </layout>
    </appender>
    <logger name="com.magnoliales" additivity="false">
        <level value="ALL"/>
        <appender-ref ref="CA"/>
    </logger>
    <logger name="org.apache.jackrabbit.core.query.lucene.join.QueryEngine" additivity="false">
        <level value="ALL"/>
        <appender-ref ref="CA"/>
    </logger>
    <logger name="info.magnolia.cms.util.ClasspathResourcesUtil" additivity="false">
        <level value="OFF"/>
        <appender-ref ref="CA"/>
    </logger>
    <logger name="h2database" additivity="false">
        <level value="WARN"/>
        <appender-ref ref="CA"/>
    </logger>
    <logger name="org.apache.jackrabbit.ocm" additivity="false">
        <level value="ALL"/>
        <appender-ref ref="CA"/>
    </logger>
    <root>
        <level value="WARN"/>
        <appender-ref ref="CA"/>
    </root>
</log4j:configuration>
